@page

@using QualitySouvenirs.Models
@using QualitySouvenirs.Share

@model QualitySouvenirs.Areas.Identity.Pages.Account.Manage.Customers.IndexModel

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Enabled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppUsers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
