@page

@using QualitySouvenirs.Models
@using QualitySouvenirs.Share

@model QualitySouvenirs.Areas.Identity.Pages.Account.Manage.OrdersModel
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Orders";
    var _user = await UserManager.GetUserAsync(User);
}

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].GST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].GrandTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
        <tr>
            <td>
                @(item.FirstName + " " + item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            @if (await UserManager.IsInRoleAsync(_user, Roles.Admin))
            {
                <td>

                </td>
            }
        </tr>
        }
    </tbody>
</table>
